
h1{
  font-size: 100px ;  
  color: rgb(185, 75, 161);
  text-align: center;

}
body{
    background-color: rgb(255, 178, 134) ;
}
h2{
    font-size: 50px;
    color:rgba(255, 255, 255, 0.982)
}
h3{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h4{
    font-size: 40px;
    
}
h5{
    font-size: 40px;
}
h6{
    font-size: 40px;
}
h7{
    font-size: 40px;
}

